@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
}

.top-bar {
    background-color: #e94154;
    padding: 10px 0;
}

.bar-contact a {
    color: #fff;
    text-decoration: none;
}

.bar-contact a span {
    vertical-align: middle;
    margin-right: 10px;
}

.bar-cta p {
    color: #fff;
    margin: 0;
}

.bar-cta p a {
    color: #fff;
}

.bar-cta p a:hover {
    color: black;
} 

.bar-localisation ul {
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
}

.bar-localisation ul li span {
    vertical-align: middle;
}

.btn {
    @apply py-2 px-4 font-bold rounded-3xl block w-fit;
}

.btn-atc {
    @apply btn border border-black hover:bg-girlcode-pink hover:border-girlcode-pink hover:text-white;
}